In [1]:
import pandas as pd

In [51]:
n = int(input("Enter an interger number that is greater than 1: "))

while True:
  if n > 1:
    break
  else:
    print("Try a different number")
    n = int(input("Enter an interger number that is greater than 1: "))

Enter an interger number that is greater than 1: 6

In [52]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [53]:
odd

[1, 3, 5, 7, 9, 11]

In [54]:
even

[0, 2, 4, 6, 8, 10]

In [55]:
fibo

[0, 1, 1, 2, 3, 5]

In [56]:
table = {'Even': even, 'Odd': odd, 'Fibonacci': fibo }
table_result = pd.DataFrame(data = table)
table_result

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2
4     8    9          3
5    10   11          5